<div style="width: 55%; margin: auto">

<div style="width: 60%; margin: auto">
	<button ng-click="showNewCharacterInput()" style="margin: 2%" class="btn btn-default btn-sm">New Character!</button>
	<button ng-click="showCharactersList()" style="margin: 2%" class="btn btn-default btn-sm">List Characters</button>
	<button ng-click="showCharactersStats()" style="margin: 2%" class="btn btn-default btn-sm">Characters Stats</button>
</div>

<div style="text-align: center" ng-show="charactersList">
	<select ng-model="character" style="margin: 2%; background-color: #dadcdc; width: 35%;" class="form-control" name="vocation" ng-options="character.name for character in characters">
		<option value="">Select the character</option>
	</select>
	<table class="table table-bordered" style="width: 95%; margin: 2%; color: white; table-layout: fixed;
  border-collapse: collapse;" ng-if="character">
		<tr>
			<th ng-click="setOrder('name')">Name</th>
			<th ng-click="setOrder('level')">Level</th>
			<th ng-click="setOrder('stamina')">Stamina</th>
			<th ng-click="setOrder('vocation')">Vocation</th>

			<th></th>
		</tr>
	<!-- 	<tr ng-repeat="character in characters | orderBy: field : direction"> -->
		<tr>
			<td>{{character.name}}</td>
			<td>{{character.level}}</td>
			<td>{{character.stamina | date:'HH:mm'}}</td>
			<td>{{character.vocation}}</td>

			<td>
			<button class="btn btn-info btn-sm" ng-click="editCharacter(character)">Edit</button>
			<button class="btn btn-danger btn-sm" ng-click="eraseCharacter(character)">Delete</button></td>
		</tr>
	</table>

<br/>
</div>


<div style="width: 90%; display: table" ng-if="newCharacter">

<form name="characterForm" novalidate>
	<input type="text" style="margin: 2%; background-color: #dadcdc; width: 45%; float: left;" class="form-control" ng-model="newcharacter.name" name="name" placeholder="Character Name" ng-required="true"/>
	<select ng-model="newcharacter.vocation" style="margin: 2%; background-color: #dadcdc; width: 45%; float: right;" class="form-control" name="vocation" ng-options="vocation for vocation in vocations">
		<option value="">Select the vocation</option>
	</select>
	<!-- <input type="text" style="margin: 2%" class="form-control" ng-model="character.vocation" name="vocation" placeholder="Character Voc" ng-required="true"/> -->

	<input type="text" style="margin: 2%; background-color: #dadcdc ; width: 45%; float: left;" class="form-control" ng-model="newcharacter.level" name="level" placeholder="Level" ng-required="true"/>
	
	<input type="text" style="margin: 2%; background-color: #dadcdc; width: 45%; float: right;" class="form-control" ng-model="newcharacter.stamina" name="stamina" placeholder="Stamina" ng-required="true"/>

	<button ng-click="saveCharacter(newcharacter)" style="margin: 2%; float: left;" class="btn btn-success btn-sm" ng-disabled="characterForm.$invalid">Create Character</button>
	<button ng-click="clearFields(newcharacter)" style="margin: 2%" class="btn btn-warning btn-sm">Clear Fields</button>
</form>

</div>
<div ng-if="charactersStats">
<h3 class="white">All characters stats</h3>
<div
line-chart
line-data='[
    { y: "2006", a: 100, b: 90 },
    { y: "2007", a: 75,  b: 65 },
    { y: "2008", a: 50,  b: 40 },
    { y: "2009", a: 75,  b: 65 },
    { y: "2010", a: 50,  b: 40 },
    { y: "2011", a: 75,  b: 65 },
    { y: "2012", a: 100, b: 90 }
]'
line-xkey='y'
line-ykeys='["a", "b"]'
line-labels='["Serie A", "Serie B"]'
line-colors='["#31C0BE", "#c7254e"]'>
</div>
<h3 class="white">Single character stats</h3>
	<select ng-model="characterStats" style="margin: 2%; background-color: #dadcdc; width: 35%;" class="form-control" name="vocation" ng-options="character.name for character in characters">
		<option value="">Select the character</option>
	</select>
</div>

</div>